{% extends "base.html" %}

{% block title %}
Huellas y Patas - Inicio
{% endblock %}

{% block banner %}
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1><span class="blu">Bienvenido a <br></span>Huellas y Patas</h1>
                            <figure><img src="{{ url_for('static', filename='images/banner_img.png') }}" alt="perro y gato tumbados" class="fotobanner"/></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}