{% extends 'base.html' %}

{% block title %}Juego de Perros{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-bg">
        <div class="col-md-12 col-md-raza">
            <h2 class="text-bg">Adivina la Raza del Perro</h2>
            {% if result %}
            <div class="{{ result_class }}">
                <p>{{ result }}</p>
            </div>
            <br>
            {% endif %}
            <img id="catImage" src="{{ image_url }}" alt="Imagen de perro" class="img-fluid">
            <form id="game" action="{{ url_for('juegoperro') }}" method="post">
                <div class="form-group mt-3">
                    {% for option in options %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="breed" value="{{ option }}" id="option{{ loop.index }}" required>
                        <label class="form-check-label" for="option{{ loop.index }}">
                            {{ option }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="correct_breed" value="{{ correct_breed }}">
                <button type="submit" id="" class="btn btn-primary mt-3">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
